.App {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #27292a;
  /* padding: 5%; */
  /* overflow: auto; */
}

.letter {
  color: #ffffff;
  font-family: "Courier";
  text-align: left;
  font-size: 15px;
}

.title {
  color: #ffffff;
  font-family: "Arial Black";
  text-align: left;
  font-size: 18px;
}

.click:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
}

body {
  height: 100%;
  background-color: #27292a !important;
}
